In [11]:
import mysql.connector
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import datetime
import time
from datetime import timedelta

In [18]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="tugasakhir"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT tanggal FROM data_covid19_kasus ORDER BY tanggal DESC limit 1")
tanggal = mycursor.fetchall()

IntegrityError: 1062 (23000): Duplicate entry '2020-03-18' for key 'PRIMARY'

In [17]:
#mendapatkan izin pengambilan data menggunakan Google API
scope = ["https://spreadsheets.google.com/feeds",'https://www.googleapis.com/auth/spreadsheets',"https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name("creds.json", scope)
client = gspread.authorize(creds)

#membuka link spreadsheet
sheet = client.open_by_url("https://docs.google.com/spreadsheets/d/1ma1T9hWbec1pXlwZ89WakRk-OfVUQZsOCFl4FwZxzVw/edit#gid=2052139453").worksheet("Timeline")  # Open the spreadhseet

#mendapatkan row awal dan akhir
first_date = datetime.date(2020, 3, 18)
last_date= tanggal[0][0]+ timedelta(days=1)
today_date = datetime.date.today()
column_row=2
first_row= last_date-first_date
last_row = today_date - first_date

for day in range(first_row.days+column_row,last_row.days+column_row):
    try:
        print(day)
        row = sheet.row_values(day)  
        print(row)
        try:
            sql = """INSERT INTO data_covid19_kasus (tanggal,aceh,bali,banten,babel,bengkulu,diy,jakarta,jambi,jabar,jateng,jatim,kalbar,kaltim,Kalteng,Kalsel,Kaltara,kep_riau,NTB,Sumsel,Sumbar,Sulut,Sumut,Sultra,Sulsel,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
            val = (last_date,row[1].replace(",", ""),row[2].replace(",", ""),row[3].replace(",", ""),row[4].replace(",", ""),row[5].replace(",", ""),row[6].replace(",", ""),row[7].replace(",", ""),row[8].replace(",", ""),row[9].replace(",", ""),row[10].replace(",", ""),row[11].replace(",", ""),row[12].replace(",", ""),row[13].replace(",", ""),row[14].replace(",", ""),row[15].replace(",", ""),row[16].replace(",", ""),row[17].replace(",", ""),row[18].replace(",", ""),row[19].replace(",", ""),row[20].replace(",", ""),row[21].replace(",", ""),row[22].replace(",", ""),row[23].replace(",", ""),row[24].replace(",", ""),row[25].replace(",", ""),row[26].replace(",", ""),row[27].replace(",", ""),row[28].replace(",", ""),row[29].replace(",", ""),row[30].replace(",", ""),row[31].replace(",", ""),row[32].replace(",", ""),row[33].replace(",", ""),row[34].replace(",", ""))  
            mycursor.execute(sql, val)
            mydb.commit()
        except:
            print("data sudah ada")
    except:
        print("keluar dari index")
        break
    last_date=last_date + timedelta(days=1) 
    time.sleep(0.5)
    
mycursor.close()

466
keluar dari index

False

In [8]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM data_covid19_kasus where total=0")
myresult = mycursor.fetchall()
for row in myresult:
    total=0
    year=row[0].strftime("%Y")
    month=row[0].strftime("%m")
    day=row[0].strftime("%d")
    date=year+"-"+month+"-"+day
    print(date)
    for i in range(1,35):
        total=total+row[i]
    sql = "UPDATE data_covid19_kasus SET total ='"+str(total)+"' WHERE tanggal='"+date+"'"
    mycursor.execute(sql)
    mydb.commit()
    print(total)

2021-06-15
1927706
2021-06-16
1937652
2021-06-17
1950276
2021-06-18
1963266
2021-06-19
1976172
2021-06-20
1989909
2021-06-21
2004445
2021-06-22
2018113
2021-06-23
2033421
2021-06-24
2053995